.content-wrap {
	display: grid;
	grid-template-columns: 300px 1fr 50px;
	grid-template-rows: 120px 1fr;
	grid-template-areas:
		'aside-left calendar-header aside-right'
		'aside-left calendar-main aside-right';
	height: calc(100% - 60px);
}

.aside-left {
	grid-area: aside-left;
}

.aside-right {
	grid-area: aside-right;
}

.calendar-header {
	grid-area: calendar-header;
}

.calendar-wrap {
	grid-area: calendar-main;
}

@media only screen and (max-width: 1600px) {
	.content-wrap {
		grid-template-columns: 1fr;
		grid-template-areas:
			'calendar-header'
			'calendar-main';

		overflow-x: scroll;
	}

	.aside-left,
	.aside-right {
		display: none;
	}

	.calendar-header,
	.calendar-wrap {
		min-width: 950px;
	}
}

@media only screen and (max-width: 700px) {
	.event-creation--modal {
		min-width: none;
		max-width: 90%;
	}
}
