.content-wrap {
	display: grid;
	grid-template-columns: 300px 1fr 50px;
	grid-template-rows: 120px 1fr;
	grid-template-areas:
		'aside-left calendar-header aside-right'
		'aside-left calendar-table aside-right';
	width: 100%;
	height: calc(100% - 60px);
}

.aside-left {
	grid-area: aside-left;
}

.aside-right {
	grid-area: aside-right;
}

.calendar-header {
	grid-area: calendar-header;

	/*
	display: grid;
	grid-template-columns: 85px repeat(7, 1fr);

	padding-right: 15px;
	padding-bottom: 20px;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
    */
}

.calendar-wrap {
	grid-area: calendar-table;
}
