.calendarMain {
	grid-area: calendar-main;
	display: flex;
	width: 100%;
	overflow: auto;
}

.tableWrap {
	height: inherit;
	width: inherit;
}

.table, .tableInvisible {
	display: grid;

	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(24, 60px);
	grid-gap: 0px;

	overflow: hidden;
	position: relative;
	z-index: 2;
}

.tableInvisible {
	transform: translate(-0px, -100%);
	width: calc(100% - 75px);

	position: absolute;
	z-index: 1;
}

.tableInvisible > .tableCell {
	box-shadow: 1px 1px 0px rgb(200, 200, 200);
}

@media only screen and (max-width: 1600px) {
	.table, .tableInvisible, .tableWrap {
		min-width: 950px;
	}
}
